<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>
<header>
  <ul class="action-buttons clearfix fr">
    <li><a href="#" class="button button-gray no-text help" rel="#overlay"><span class="help"></span></a></li>
  </ul>
  <h2>
    Event Calendar
  </h2>
</header>
<div id="calendar_holder">
  <%= raw(event_calendar) %>
</div>

