<footer>
        <div id="footer-inner" class="container_8 clearfix">
            <div class="grid_8">
&copy; 2010. All rights reserved. SproutCalander.com
            </div>
        </div>
    </footer>

